{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jesus Academy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
<!-- Using package from CDN -->
<script src="https://cdn.jsdelivr.net/npm/@weavy/dropin-js@18.0.1/dist/weavy.js" crossorigin="anonymous"></script>
<script>
  const access_token = "{{ request.session.access_token }}";
  // url to your Weavy environment
  Weavy.url = "https://ced0667cb8b14d76ba02bf7764860ddc.weavy.io";
  // token factory that returns the access_token for your demo user
  Weavy.tokenFactory = async () => access_token;
</script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link  rel="stylesheet" type="text/css" href="{% static 'Users/styles.css' %}">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<!-- Add this in the <head> section of your HTML -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


  <meta name="google-site-verification" content="vd6s18YS9mfPMMoH5srkND_VurceXLA1D6g2eAWtIEE" />

</head>
<meta name="google-site-verification" content="vd6s18YS9mfPMMoH5srkND_VurceXLA1D6g2eAWtIEE" />

<body class="base-html">




    <nav class="navbar navbar-dark fixed-top" id="top-bar" style="background-color:rgba(29, 25, 46, .8) !important;">
      <div class="container-fluid">
        <a class="zara no-style"  href="#">Jesus.Said</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <div class="offcanvas-title" id="offcanvasNavbarLabel" style="margin: 5px auto;">
              {% if user.personalprofile.profile_pic %}
                <img src="{{ user.personalprofile.profile_pic.url }}" width="100" height="100" style="border-radius: 50%;">
              {% elif user.personalprofile.google_pic %}
                <img src="{{ user.personalprofile.google_pic }}" width="100" height="100" style="border-radius: 50%;">
              {% else %}
              <img src="{% static 'Users/istockphoto-1337144146-612x612.jpg' %}" width="100" height="100" >
              {% endif %}
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="color:black;">
              

                
                


                <li>
                  <a class="nav-link" href="{% url 'leadersboard' %}" ><i class="bi bi-123" > </i>Leaders Board</a>
                </li>
              
       


          <li>
              <a class="nav-link" href="{% url 'student-home' %}" ><i class="bi bi-house" > </i>Home</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'biblia' %}" ><i class="bi bi-book" > </i>Bible</a>
        </li>
        

      {% if user.role == 'Supervisor' %}

      <li>
        <a class="btn btn-info" href="{% url 'join-requests' %}" ><i class="bi bi-patch-plus" > </i>Join Requests</a>
    </li>
    <br>
         
       
          
        <li>
          <a class="nav-link" href="{% url 'create-word' %}" ><i class="bi bi-send-plus" > </i>Add Daily Word</a>
      </li>

      
      
     
    <li>
      <a class="nav-link" href="{% url 'create-group' %}" ><i class="bi bi-send" > </i>Create Group</a>
  </li>
    <li>
      <a class="nav-link" href="{% url 'study-groups' %}" ><i class="bi bi-people" > </i>Study Groups</a>
  </li>

    

  {% endif %}

          {% if user.is_authenticated %}
          <li>
            <a class="nav-link btn btn-secondary" href="{% url 'study-progress' %}" style="color: white;">
              
              C.B.R
            </a>
        </li>
          <li>
            <a class="nav-link" href="{% url 'update-profile' %}" ><i class="bi bi-person" > </i>Profile</a>
        </li>
        
      
       
      <li>
        <a class="nav-link" href="{% url 'my-bookmarks' %}" ><i class="bi bi-bookmark-plus" > </i>BookMarks</a>
    </li>
    
    <li>
      <a class="nav-link" href="{% url 'achievements' %}" ><i class="bi bi-trophy" > </i>My Achievements</a>
  </li>
  <!-- <li>
    <a class="nav-link" href="{% url 'book-analytics' %}" ><i class="bi bi-bar-chart-line" > </i>BookAlytics</a>
  </li> -->
     
        <li>
          <a class="nav-link" href="{% url 'settings' %}" ><i class="bi bi-gear" > </i>Settings</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'charities'  %}" ><i class="bi bi-bookmark-plus" > </i>Charities</a>
      </li><li>
        <a class="nav-link" href="{% url 'projects'  %}" ><i class="bi bi-hammer" > </i>Projects</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'bookmarks' 'all' %}" ><i class="bi bi-bookmark-plus" > </i>Topics</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'contact-us' %}" ><i class="bi bi-headset" > </i>Contact-Us</a>
    </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" ><button class="Btn">
  
              <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
              
              <div class="text">Logout</div>
            </button>
            
            
            </a>
          </li>
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'charities'  %}" ><i class="bi bi-bookmark-plus" > </i>Charities</a>
        </li><li>
          <a class="nav-link" href="{% url 'projects' %}" ><i class="bi bi-hammer" > </i>Projects</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'bookmarks' 'all' %}" ><i class="bi bi-bookmark-plus" > </i>Topics</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'contact-us' %}" ><i class="bi bi-headset" > </i>Contact-Us</a>
      </li>
       
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" ><i class="bi bi-box-arrow-right" > </i>Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}" ><i class="bi bi-pen" > </i>Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'password-reset' %}"><i class="bi bi-x-octagon" > </i>Reset Password</a>
        </li>
        {% endif %}
        
        

        

            </ul>

          </div>
        </div>
      </div>
    </nav>



















<div class="main-body">

        {% block content %}

        {% endblock %}
    </div>


    {% if messages %}


  <div class="text-center" style="position:sticky;margin-top:59px;">
    {% for message in messages %}
      {% if message.tags ==  'error' %}
        <h6 class="alert alert-danger">{{ message }}</h6>
      {% elif message.tags == 'info' %}
          <h6 class="alert alert-info">{{ message }}</h6>
      {% elif message.tags == 'success' %}
          <h6 class="alert alert-success">{{ message }}</h6>
      {% elif message.tags == 'warning' %}
          <h6 class="alert alert-warning">{{ message }}</h6>


      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<script>
    window.addEventListener('popstate', function(event) {
        // This function is called when the user navigates back
        location.reload(); // Reload the current page
    });
</script>


</body>
</html>
