{% extends 'Users/base.html' %}

{% block content %}



<div class="container">
<br>
<br>
<br>
    <form method="post">
        {% csrf_token %}
            <div class="mb-3">
              <label  class="form-label">First Name</label>
              <input type="text" class="form-control" name="f_name" placeholder="{{ user.personalprofile.f_name }}" >
            </div>

            <div class="mb-3">
              <label  class="form-label">Last Name</label>
              <input type="text" class="form-control" name="l_name"  placeholder="{{ user.personalprofile.l_name }}" >
            </div>


            <div class="mb-3">
              <label  class="form-label">Surname</label>
              <input type="text" class="form-control" name="surname" placeholder="{{ user.personalprofile.surname }}" >
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male">
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>

            
            <div class="mb-3">
              <label  class="form-label">Date Of Birth</label>
              <input type="date" class="form-control" name="dob" >
            </div>

            <div class="mb-3">
              <label  class="form-label">Phone</label>
              <input type="text" class="form-control" name="phone" placeholder="2547123456789">
            </div>
            {% if user.personalprofile.l_name %}
              <button class="btn btn-info">NEXT</button>
            {% else %}
              <button class="btn btn-warning">Save</button>
            {% endif %}
    </form>



</div>











{% endblock %}