{% extends 'Users/base.html' %}
{% load static %}
{% block content %}
<!-- background-image: url('{% static 'Users\5137843.jpg' %}'); -->

  <div class="content-container" >
    {% if progress %}
      <div class="read-progress">
        <div class="progress-text">
          <h5 class="text-center">{{ progress }} %<i class="bi bi-perent"></i></h5>
        </div>
      </div>
    {% endif %}
    <div class="bottom-bar">
      <a href="{% url 'study-progress' %}" class="no-style">
        <div>
          <i class="bi bi-book"></i><br>
          <small>C.B.R</small>
        </div>
      </a>
      <a href="{% url 'biblia' %}" class="no-style">
        <div>
          <i class="bi bi-bootstrap"></i>
          <br>
          <small>Read</small>
        </div>
      </a>
      <a href="{% url 'settings' %}" class="no-style">
      <div>
        <i class="bi bi-gear"></i>
        <br>
        <small>Account</small>
      </div>
      </a>
      <a href="{% url 'achievements' %}" class="no-style">
      <div>
        <i class="bi bi-trophy"></i>
        <br>
        <small>Honours</small>
      </div>
    </a>

    </div>
    
    

    <div class="todays-word">
      <h6>Todays Word.</h6>
      <div class="chapter">{{ word.book }} {{ word.chapter }}:{{ word.verse }}</div>
     
      <div class="verse">
        {{ word.word }}
      </div>
      <br>
      Day {{ word.date|date:"z" }} of 365

    </div>





    <div class="event-view">
      {% if group %}
      <a href="{% url 'group-id' group.group_id %}" class="no-style">
        <div class="event-card">
          <h6><i class="bi bi-book"> </i>Bible Study</h6>
          <hr class="centered-hr">
 
            <h5>{{ group }}</h5>
            <h6>Members - {{ group.members.count }}</h6>
         
            <div >
                {% for member in group.members.all %}
                  <small class="text-muted">{{ member }}</small>
                  <br>
                {% endfor %}
            </div>   
          </div>
            
       
      </a>
      {% else %}
      <a  class="no-style" href="{% url 'request-group' %}">
        <div class="event-card">
          <h6><i class="bi bi-book"> </i>Bible Study</h6>
          <hr class="centered-hr">
          
            
            <br>
              You currently do not have any study group. 
              <br><br>
              <button class="btn btn-primary">Request Group Join</button>
           
            
        </div>
      </a>
        {% endif %}
        

      <a href="{% url 'study-progress' %}" class="no-style">
        <div class="event-card">
          <h6><i class="bi bi-align-center"></i>Consistent Bible Reading</h6>
          <hr class="centered-hr">
          <br>

          <div class="">

            <small>View how your progress on bible reading

            </small>
            <br><br>
            <button class="btn btn-dark">View</button>



          </div>



        </div>
      </a>

      <a href="{% url 'settings' %}" class="no-style">
        <div class="event-card">
          <h6><i class="bi bi-shield-check"></i>Account</h6>
          <hr class="centered-hr">
          <br>
          <div class="">

            <p>Manage your account, personal details and Preference settings.</p>
            <!-- <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;background-color: purple;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div> -->
          </div>

        </div>
      </a>
      



    </div>
  </div>


</div>


{% endblock %}