{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="content-container">
<div   style="width: 88%; margin: 0 auto;">
       
        <div class="profile">
            
        </div>
        <br>
        <div class="profile-card">
          <div>
            {% if user.personalprofile.f_name %}
            <h5>{{ user.personalprofile.f_name|title }} {{ user.personalprofile.l_name.0|title }} {{ user.personalprofile.surname|title }}</h5>
            {% else %}
            <h6>{{ user }}</h6>
            {% endif %}
            <button class="btn btn-info">{{ user.role }}</button>
            <div class="res-pointer">
              <div>
                <small>POINTS</small><h1 style="font-size: 60px;">{{ user.personalprofile.points }}</h1>
              </div>
            </div>
          </div>

          <div class="pointer">
            <div>
              <small>POINTS</small><h1 style="font-size: 60px;">{{ user.personalprofile.points }}</h1>
            </div>
          </div>

          
          <div>
            {% if user.personalprofile.profile_pic %}
            <div class="profile-pic">
              <img src="{{ user.personalprofile.profile_pic.url }}" class="profile-pic">
            </div>
              
            {% elif user.personalprofile.google_pic %}
            <div class="profile-pic">
              <img src="{{ user.personalprofile.google_pic }}" class="profile-pic">
            </div>
            {% else %}
            <div class="profile-pic">
              <img src="{% static 'Users/istockphoto-1337144146-612x612.jpg' %}" class="profile-pic">
            </div>
              
            {% endif %}
          </div>
            
          

          
          

        </div>

        <div class="progress-template" >
          <div class="progress-template-card">
            <h6  style="font-family: cursive;margin: 1px auto !important;">Whole Bible</h6>
            <div class="progress-canvas">
              <canvas id="all" width="100" height="100" ></canvas>
              


          </div>
          {% with  user|get_read_percent:'bible'  as all %}
              <script>
                  var ctx = document.getElementById('all').getContext('2d');
                  var doughnutChart = new Chart(ctx, {
                      type: 'doughnut',
                      data: {
                         
                          datasets: [{
                              data: [{{ all }}, {{ all|add:'-100'  }}],
                              backgroundColor: ['#36A2EB', '#FF6384'],
                          }]
                      },
                  });
              </script>
            
              <h5 class="text-center" style="font-family: cursive;">{{ all }} %</h5>
            {% endwith %}
          </div>
          <div class="progress-template-card" >
            <h6 class="text-center" style="font-family: cursive;">New Testament</h6>
            <div class="progress-canvas">
              <canvas id="nt" width="100" height="100" ></canvas>
          </div>
              {% with  user|get_read_percent:'NT'  as nt  %}
              <script>
                  var ctx = document.getElementById('nt').getContext('2d');
                  var doughnutChart = new Chart(ctx, {
                      type: 'doughnut',
                      data: {
                         
                          datasets: [{
                              data: [{{ nt }}, {{ nt|add:'-100'  }}],
                              backgroundColor: ['#36V2EB', '#FF8384'],
                          }]
                      },
                  });
              </script>
              <h5 class="text-center">{{ nt }} %</h5>
              
              {% endwith %}
          </div>
          <div class="progress-template-card">
            <h6 class="text-center" style="font-family: cursive;">Old Testament</h6>
            <div class="progress-canvas">
              <canvas id="ot" width="100" height="100" ></canvas>
          </div>
          {% with  user|get_read_percent:'OT'  as ot  %}
              <script>
                  var ctx = document.getElementById('ot').getContext('2d');
                  var doughnutChart = new Chart(ctx, {
                      type: 'doughnut',
                      data: {
                         
                          datasets: [{
                              data: [{{ ot }}, {{ ot|add:'-100'  }}],
                              backgroundColor: ['#36A2ED', '#FF6382'],
                          }]
                      },
                  });
              </script>
              <h5 class="text-center">{{ ot }} %</h5>
            {% endwith %}
          </div>

        </div>



        <div class="">



<br>

  <div class="accordion edit" id="changePhoneNumberAccordion" >
    <div class="accordion-item">
      <h2 class="accordion-header" id="changePhoneNumberHeader">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#changePhoneNumberCollapse" aria-expanded="true" aria-controls="changePhoneNumberCollapse">
          <small>Edit Profile</small>
        </button>
      </h2>
      <div id="changePhoneNumberCollapse" class="accordion-collapse" aria-labelledby="changePhoneNumberHeader" data-bs-parent="#changePhoneNumberAccordion">
        <div class="accordion-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input  name="first-name" id="first-name" class="form-control" value="{{ user.personalprofile.f_name }}" required>
            </div>
            <br>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input  name="last-name" class="form-control" id="last-name" value="{{ user.personalprofile.l_name }}" required>
            </div>
            <br>
            <div class="form-group">
              <label for="surname">Surname</label>
              <input id="surname"  name="surname" class="form-control" value="{{ user.personalprofile.surname }}" required>
            </div>
            <br>
            
            <div class="form-group">
              <select class="form-select" aria-label="Default select example" name="gender">
                <option value="{{ user.personalprofile.gender }}">{{ user.personalprofile.gender }}</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            
           
            <br>
            <div class="form-group">
              <label  class="form-label">Date Of Birth {{  user.personalprofile.dob }}</label>
              <input type="date" class="form-control" name="dob" value="{{  user.personalprofile.dob }}" >
            </div>
            <br>
            <div class="form-group">
              <label for="phone-number">Phone Number</label>
              <input type="tel" name="phone-number" class="form-control" id="phone-number" placeholder="{{ user.personalprofile.phone }}" >
            </div>

              <br>
            <button type="submit" class="btn btn-primary" name="profile">Update Profile Info</button>
          </form>
        </div>
      </div>
    </div>
  </div>


            <br>
            <br>
        </div>
  
  
        


</div>
</div>
{% endblock %}