{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br><br><br>

<form class="form" autocomplete="off" method="post">
    {% csrf_token %}
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>


    <label>
        <input class="input" type="email" name="email" placeholder="name@gmail.com" required autocomplete="off">
        <span></span>
    </label>
    <br>


    

    

    <label>
        <input class="input" type="password" name="pwd1"  required>
        <span>Password</span>
    </label>
    <label>
        <input class="input" type="password" placeholder="" name="pwd2" required>
        <span>Confirm password</span>
    </label>
    <button class="submit">Submit</button>

    <p class="signin">Already have an acount ? <a href="{% url 'login' %}">Signin</a> </p>
</form>


<script>
  function enableGrade() {
    document.getElementById("grade").disabled = false;
  }

  function disableGrade() {
    document.getElementById("grade").disabled = true;
  }
</script>

{% endblock %}