{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<br><br><br><br>

<div class="container" >
    <div class="accordion" id="accordionExample">
        
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Set Bible Preference
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% if preference %}

                <div class="btn btn-dark">Default Bible - {{ preference.default_bible }}</div>
                {% endif %}
                <br><br>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <select class="form-select" aria-label="Default select example" id="bible" name="bible" required>
                            {% for bible in bibles %}
                                <option value="{{ bible.bible_id }}">{{ bible.name }} ({{ bible.language }})</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    <br>
                
                    <button class="btn btn-info" style="color: white;" name="biblia">Save</button>
                </form>
                
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              Daily Chapter Target
            </button>
          </h2>
          <div id="collapse4" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                
              <button type="button" class="btn btn-primary">
                Daily Target  <span class="badge text-bg-danger">{{ user.userpreference.daily_target }}</span>
              </button>
               
                <br><br>
                <form method="post">
                    {% csrf_token %}
                    <div>
                      <div class="input_container">
                        <label class="input_label" for="password_field">Enter Target</label>
                        
                        <input title="Input title" name="target" type="number" class="input_field" id="password_field" min="3" max="10" required>
                      </div>
                            
                        </select>
                    </div>
                    <br>
                
                    <button class="btn btn-info" style="color: white;" name="daily-target">Save</button>
                </form>
                
            </div>
          </div>
        </div>
        <!-- <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Messaging
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form method="post">
                    {% csrf_token %}
                    <h5>Receive daily word on whatsapp.</h5>
                    <br>
                    
                    <div class="form-check">
                        {% if settings.whatsapp %}
                        <input class="form-check-input" type="checkbox"  id="flexCheckDefault" name="whatsapp" checked>
                        {% else %}
                        <input class="form-check-input" type="checkbox"  id="flexCheckDefault" name="whatsapp">
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault">
                            
                            
                            Receive Messages
                            
                        </label>
                      </div>
                    <br><br>

                    <button class="btn btn-danger">Save</button>
                
                </form>
                
                </div>
            </div>
          </div> -->
        </div>
      </div>
    
    


      <script>
        function validateInput(input) {
            if (input.value < 1) {
                input.setCustomValidity('Please enter a positive value.');
            } else if (input.value > 10) {
                input.setCustomValidity('Please enter a value less than or equal to 10.');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>




{% endblock %}