{% extends 'Users/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
<div class="content-container">
    <div class="container" style="background: #132743; margin: 30px auto; ">
        <div style="color: white; padding: 20px;">
            <h5>*Hints</h5>
             <p> *Group Names Must Be Unique</p>  
             <p>  *Group Names Must Be Biblical</p>
             <p>  *Group Names Must Be Short And Meaningfull</p>

        </div>
        

        <form method="post" style="width: 80%;padding-left: 20px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="surname">Group Name(Keep it Biblical)</label>
                <input id="surname"  name="name" class="form-control" placeholder="Zion" required>
            </div>
            <br>
    
            <button class="btn btn-danger"><i class="bi bi-send-plus"> </i>Create</button>
            <br><br>
    
        </form>
        
    </div>
</div>

{%  endblock %}