{% extends 'Users/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
    <div class="content-container" style="background-color: rgb(25,22 ,32)!important; color: white;">
        <div class="container">
            {% for chapter in chapters %}
            
            <div  id="{{ chapter.order }}" class="chapter-section">
                
                <h6 style="font-family: Dekko;font-size: 30px;" >{{ chapter.book }}<div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div></h6>
                <h4 style="font-family: cursive;">{{ chapter.order }}</h4>
                <p>{{ book|get_verses:chapter.order|safe }}</p>
              
                
            </div>

        {% endfor %}


        </div>

        
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Replace "20" with the actual id of your div
            var fcs = '{{ focus }}'
            var element = document.getElementById(fcs);
    
            if (element) {
            var navbarHeight = 70; // Replace with the actual height of your navbar
            var offsetTop = element.offsetTop - navbarHeight;

            window.scrollTo({ top: offsetTop, behavior: "instant" });
            }
        });
    </script>

{% endblock %}