{% extends 'Users/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
    <div class="content-container" style="background-color: rgb(25,22 ,32)!important; color: white;">
        <div class="container">
            {% for chapter in chapters %}
            
            <div  id="{{ chapter.order }}" class="chapter-section">
                
                <h6 style="font-family: Dekko;font-size: 30px;" >{{ chapter.book }}<div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div></h6>
                <h4 style="font-family: cursive;">{{ chapter.order }}</h4>
                {% with book|get_verses:chapter.order as verses %}</p>
                    {% for verse in verses %}
                    <p class="p" onclick="showPopup('{{ verse.verse }}')">{{ verse.verse }} {{ verse.text }}</p>
                    {% endfor %}
                {% endwith %}
              
                
            </div>

        {% endfor %}


        </div>

        
    </div>
    <script>
        function showPopup(verseId) {
            // ... your existing code
            // Assuming you have the following context variables
            var book = "Genesis";
            var chapter = "3";
      
            // Set the value of the hidden input for the verse ID
            $('#clickedVerse').val(verseId);
            $('#clickedVerse').text(verseId);
            $('#verse').val(verseId);
            var x = event.pageX;
            var y = event.pageY;
      
            // Set the position of the bookmark card
            $('#bookmark').css({
                position: 'absolute',
                top:  + 'px',
                left: x + 'px',
                display: 'block',
            });
      
            // Show the bookmark form
            $('#bookmark').show();
        }
      
        $(document).ready(function () {
              // Get the CSRF token using Django's template tag
              var csrftoken = "{{ csrf_token }}";
      
              $('#saveBookmarkBtn').on('click', function () {
                  // Get the values you want to send
                  var verseId = $('#clickedVerse').val();
                  var book = "{{ book }}";
                  var chapter = "{{ chapter }}";
                  var user = "{{ user }}";
                  $('#bookmark').hide();
      
                  // AJAX request
                  $.ajax({
                      url: '{% url "bookmark" %}',  // Replace with your actual URL
                      method: 'POST',
                      data: {
                          'book': book,
                          'chapter': chapter,
                          'verse_id': verseId,
                          'user': user,
                          // Add more variables if needed
                      },
                      headers: {
                          'X-CSRFToken': csrftoken
                      },
                      success: function (data) {
                          // Handle success response
                          console.log('Bookmark saved successfully');
                          // Optionally, you can perform additional actions here
                      },
                      error: function (error) {
                          // Handle error response
                          console.error('Error saving bookmark:', error);
                          // Optionally, you can display an error message or perform other actions
                      }
                  });
              });
          });
      </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Replace "20" with the actual id of your div
            var fcs = '{{ focus }}'
            var element = document.getElementById(fcs);
    
            if (element) {
            var navbarHeight = 70; // Replace with the actual height of your navbar
            var offsetTop = element.offsetTop - navbarHeight;

            window.scrollTo({ top: offsetTop, behavior: "instant" });
            }
        });
    </script>

{% endblock %}