{% extends 'Users/base.html' %}

{% block content %}

<br><br><br><br>
<div class="container">
    <h6>N.B. If you are a group of people and you widsh to join a single study group together please send the emails of all the members of your group and your desired group name via whatsapp or through sms to +254 759780373. </h6>
    <br>
    These are all the joinable groups!
    <br><br>
    <form method="post">
        {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="group">
        {% for group in groups %}
            <option selected>{{ group }}</option>
        {% endfor %}
        </select>
        <br>

        <button class="btn btn-danger">Send</button>

    </form>

    




</div>

{% endblock %}