{% extends 'Users/base.html' %}

{% block content %}


<div class="container">

<br><br><br><br>
{% if preference %}

<div class="btn btn-dark">Default Bible - {{ preference.default_bible }}</div>
{% endif %}
<br><br><br>
<form method="post">
    {% csrf_token %}
    <div>
        <select class="form-select" aria-label="Default select example" id="bible" name="bible" required>
            {% for bible in bibles %}
                <option value="{{ bible.bible_id }}">{{ bible.name }} ({{ bible.language }})</option>
            {% endfor %}
            
        </select>
    </div>
    <br>

    <button class="btn btn-info" style="color: white;">Save</button>
</form>

<br>

</div>


{% endblock %}