{% extends 'Users/base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<br><br><br><br><br><br>

<div class="books-bg" style="background-image: url('{% static 'Users\840843081452.jpg' %}');" >
    <form method="post">
        {% csrf_token %}
        <div style="padding-left: 5%;margin-top: 80px;">
            <div class="dropdown" >
                <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter {{ location }}
                </button>
                <ul class="dropdown-menu">
                <li><button class="dropdown-item" name="all">ALL</button></li>
                <li><button class="dropdown-item"  name="new">NEW TESTAMENT</button></li>
                <li><button class="dropdown-item"  name="old">OLD TESTAMENT</button></li>
                
                </ul>
            </div>
        </div>
    </form>
    <div class="books-view">
        {% for book in books %}
            <a href="{% url 'read' bible.default_bible book book.order|get_next_chapter  %}" class="no-style">
                <div class="progress-card">
                    <h5>{{ book }}</h5>
                    
                    {% with book.order|get_study_progress as progress %}
                    {% if progress %}
                    <div class="progress-canvas">
                        <canvas id="doughnutChart{{ forloop.counter }}" width="100" height="100" ></canvas>
                    </div>
                        
                        <script>
                            var ctx{{ forloop.counter }} = document.getElementById('doughnutChart{{ forloop.counter }}').getContext('2d');
                            var doughnutChart{{ forloop.counter }} = new Chart(ctx{{ forloop.counter }}, {
                                type: 'doughnut',
                                data: {
                                   
                                    datasets: [{
                                        data: [{{ progress }}, {{ progress|add:'-100'  }}],
                                        backgroundColor: ['#36A2EB', '#FF6384'],
                                    }]
                                },
                            });
                        </script>
                    {% else %}
                    <br>
                    <div style="margin: 40px auto;;">
                        <button class="btn btn-dark">Start Today</button>
                    </div>
                        
                    {% endif %}
                    
                <div style="color: rgb(185, 0, 176);">
                    NEXT CHAPTER: {{ book.order|get_next_chapter }}
                </div>
                {% endwith %}
                </div>
        </a>
    {% endfor %}

        


    </div>



</div>


{% endblock %}










