{% extends 'Users/base.html' %}
{% load custom_filters %}
{% block content %}


<br>
<br>
<br>
<br>
<br>
<div class="content-container">

    
  <br><br>

    <div class="container" style="color: white;">
      
        <h5>{{ charity.title|title }}</h5>
        <small><strong>closes in</strong>{{ charity.closes_on|timeuntil }}</small>
        <br>
        <div>
            <p>{{ charity.description }}</p>
        </div>

        <br>
        <div style="padding-top: 20px;">
            <p >Target  <strong style="padding-left: 70px;">{{ charity.target }}</strong></p>
   
            <p>Contributions <strong style="padding-left: 27px;"> {{ totals }}</strong></p>
            <hr style="width: 330px;">
            <p>Balance <strong style="padding-left: 62px;">{{ balance }}</strong></p>
        </div>
        

        <div class="progress" style="width: 60%;color: black;" >
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ charity.target|divide:totals }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ charity.target|divide:totals }}%</div>
          </div>
          <div class="donate-btn" >
            <a class="btn btn-warning" href="{% url 'manage-charity' charity.id %}">Manage</a>
            <a class="btn btn-danger" href="{% url 'donate' 'Charity' charity.id %}" style="margin-left: 20px;">Donate</a>
            
            
    
        </div>
    </div>


    <br><br><br>
    <div class='container'>


       {% if not contributions %}
       <h5 class="text-center">No Contributions Yet</h5>
  
  
        {% else %}
        <br><br>
        <div style="background-color: white;" class="container ">
          

        <h5 class="text-center">Contributions</h5>
        <br><br>
  
      <table class="table" >
        <caption>Target {{ charity.target }} - Contributions {{ totals }}</caption>
        <caption>Balance {{ balance }}</caption>
        <thead>
          <tr>
            <th>
              <h6>User</h6>
            </th>
          
            <th>
              <h6>Date</h6>
            </th>
            <th>
              <h6>Progress</h6>
            </th>
  
  
          </tr>
        </thead>
       
        <tbody>
          {% for payment in contributions %}
          <tr>{% if payment.user.personalprofile.f_name %}
            <td>{{ payment.user.personalprofile.f_name  }} {{ payment.user.personalprofile.l_name  }} {{ payment.user.personalprofile.surname  }}</td>
            {% else %}
            <td>{{ payment.user }}</td>
            {% endif %}
            <td>{{ payment.date }} </td>
            <td>
              
              Good
            </td>
          </tr>
          {% endfor %}
  
        </tbody>
        {% endif %}
      </table>
    </div>
  
      <div style="padding: 30px;"></div>
  
    </div>




</div>


{% endblock %}