{% extends 'Users/base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}


<br>
<br>
<br>
<br>
<br>
<div class="content-container">



    <div class="charities-view">
        {% for charity in projects %}
          <a href="{% url 'project-id' charity.id %}" class="no-style">
            <div class="charity-card">
                
                    <img src="{% static 'Users/Zara.png' %}">

               <div class="charity-text text-center">
                <h6 class="" style="color: purple;">
                  {{ charity.title|title }}
              </h6>
              <p>{{ charity.description }}</p>

              <div class="progress-btn">
                <div>
                  <div class="progress" style="width: 100%;color: black;" >
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ charity.target|get_project_progress:charity.id }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                
                  </div>
            </div>
            </div>
          </a>

        {% endfor %}

    </div>







</div>



{% endblock %}