{% extends 'Users/base.html' %}
{% load custom_filters %}
{% block content %}


<br>
<br>
<br>
<br>
<br>
<div class="content-container">

    <div class="donate-btn" style="padding-left: 93%;">
        <a class="btn btn-danger" href="{% url 'donate' 'Project' project.id %}">Donate</a>
        <br><br>
        <a class="btn btn-warning" href="{% url 'manage-project' project.id %}">Manage</a>

    </div>


    <div class="todays-word">
      
        <h5>{{ project.title|title }}</h5>

        <div>
            {{ project.description }}
        </div>


        <div style="padding: 20px;">
            <p >Target  <strong style="padding-left: 70px;">{{ project.target }}</strong></p>
   
            <p>Contributions  {{ totals }}</p>
            <hr style="width: 330px;">
            <p>Balance <strong style="padding-left: 70px;">{{ balance }}</strong></p>
        </div>
        

        <div class="progress" style="width: 60%;color: black;" >
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ project.target|divide:totals }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ project.target|divide:totals }}%</div>
          </div>
     
    </div>


    <br>
    <div class=''>


       {% if not contributions %}
  No Contributions Yet
  
        {% else %}
        <div style="background-color: white;" class="container ">
            <br>
        <h5 class="text-center">Contributions</h5>
        <br><br>
        
  
      <table class="table" >
        <caption>Target {{ project.target }} - Contributions {{ totals }}</caption>
        <caption>Balance {{ balance }}</caption>
        <thead>
          <tr>
            <th>
              <h6>User</h6>
            </th>
          
            <th>
              <h6>Date</h6>
            </th>
            <th>
              <h6>Progress</h6>
            </th>
  
  
          </tr>
        </thead>
       
        <tbody>
          {% for payment in contributions %}
          <tr>
            <td>{{ payment.user.personalprofile.f_name  }} {{ payment.user.personalprofile.l_name  }} {{ payment.user.personalprofile.surname  }}</td>
            <td>{{ payment.date }} </td>
            <td>
              
              Good
            </td>
          </tr>
          {% endfor %}
  
        </tbody>
        {% endif %}
      </table>
    </div>
  
      <div style="padding: 30px;"></div>
  
    </div>




</div>


{% endblock %}